<ion-view title="Error" hide-back-button="true" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <div>
            <img src="img/QxbSjlovRH3zMSWdb7ZW_error.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="error-heading1" style="color:#000000;text-align:center;">Error couldn't Sign In</h3>
        <h5 id="error-heading2" style="color:#000000;font-weight:300;text-align:center;">Your email and password don't match. Please, try again.</h5>
        <div class="spacer" style="width: 300px; height: 57px;"></div>
        <a ui-sref="login" id="error-button8" class="button button-positive  button-block">TRY AGAIN</a>
    </ion-content>
</ion-view>