<ion-view title="Collaborative Forum" hide-back-button="true" id="page15">
    <ion-content padding="true" class="has-header">
        <a ui-sref="mainMenu" id="collaborativeForum2-button23" class="button button-dark  button-block button-clear icon-left ion-android-arrow-back"></a>
        <form id="collaborativeForum2-form9" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Topic">
            </label>
        </form>
        <div id="collaborativeForum2-button-bar3" class="button-bar">
            <a ui-sref="collaborativeForum" id="collaborativeForum2-button34" class="button button-stable button-small">Community</a>
            <button id="collaborativeForum2-button35" class="button button-dark button-small">Tutor</button>
        </div>
    </ion-content>
</ion-view>