<ion-view title="Login" hide-back-button="true" id="page2">
    <ion-content padding="true" class="has-header">
        <!--var welearnapi =  "http://172.16.39.17:80/welearnapi/api.php";-->
        <form id="login-form1" class="list" action="http://172.16.39.24:80/welearnapi/api.php" method="POST">
			<input name="action" value="login" type="hidden" />
            <div>
                <img src="img/RALH0VDuR4eq3hNfwQ2G_photo592097551863359460.jpg" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="email address" name="email">
                </label>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="password" name="password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button1" class="button button-stable  button-block" type="submit">Log in</button>
            <a ui-sref="signup" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
