<ion-view title="Profile" hide-back-button="true" id="page6">
    <ion-content padding="true" class="has-header">
        <a ui-sref="mainMenu" id="profile-button36" class="button button-dark  button-block button-clear icon-left ion-android-arrow-back"></a>
        <h3 id="profile-heading13" style="color:#000000;">Name</h3>
        <form id="profile-form14" class="list">
            <h4 id="profile-heading31" style="color:#000000;font-weight:300;font-style:italic;"></h4>
            <label class="item item-input" id="profile-textarea1">
                <span class="input-label"></span><textarea placeholder=""></textarea>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <h3 id="profile-heading22" style="color:#000000;">Surname</h3>
        <form id="profile-form15" class="list">
            <label class="item item-input" id="profile-textarea2">
                <span class="input-label"></span><textarea placeholder=""></textarea>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 2px;"></div>
        <h3 id="profile-heading28" style="color:#000000;">Email</h3>
        <form id="profile-form16" class="list">
            <label class="item item-input" id="profile-textarea3">
                <span class="input-label"></span><textarea placeholder=""></textarea>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <h3 id="profile-heading29" style="color:#000000;">Grade</h3>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <form id="profile-form17" class="list">
            <label class="item item-input" id="profile-textarea4">
                <span class="input-label"></span><textarea placeholder=""></textarea>
            </label>
        </form>
        <h3 id="profile-heading30" style="color:#000000;">Subjects</h3>
        <div class="spacer" style="width: 300px; height: 1px;"></div>
        <form id="profile-form12" class="list">
            <label class="item item-select" id="profile-select3">
                <span class="input-label"></span>
                <select>
                    <option>Mathematics</option>
                    <option>Information Technology</option>
                    <option>Biology</option>
                    <option>Science</option>
                    <option>English</option>
                    <option>Afrikaans</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 46px;"></div>
        </form>
    </ion-content>
</ion-view>