<ion-view title="Resource Centre" hide-back-button="true" id="page8">
    <ion-content padding="true" class="has-header">
        <a ui-sref="mainMenu" id="resourceCentre-button39" class="button button-dark  button-block button-clear icon-left ion-android-arrow-back"></a>
        <h1 id="resourceCentre-heading4" style="color:#000000;font-weight:600;text-align:center;">Resource Centre</h1>
        <form id="resourceCentre-form4" class="list">
            <div class="spacer" style="width: 300px; height: 62px;"></div>
            <label class="item item-select" id="resourceCentre-select2">
                <span class="input-label">Subjects</span>
                <select>
                    <option>Mathematics</option>
                    <option>Information Technology</option>
                    <option>Biology</option>
                    <option>Science</option>
                    <option>English</option>
                    <option>Afrikaans</option>
                </select>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 64px;"></div>
        <a ui-sref="subject" id="resourceCentre-button13" class="button button-positive  button-block">Submit</a>
    </ion-content>
</ion-view>