<ion-view title="Subject" hide-back-button="true" id="page10">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 28px;"></div>
        <h1 id="subject-heading5" style="color:#000000;text-align:center;">Mathematics</h1>
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="courseMaterials" id="subject-button14" style="left:-10px;" class="button button-positive button-large button-full">Course Materials</a>
        </div>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="studyingMaterials" id="subject-button15" style="left:-10px;" class="button button-positive button-large button-full">Studying Materials</a>
        </div>
        <div class="spacer" style="width: 300px; height: 33px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="pastPapers" id="subject-button16" style="left:-10px;" class="button button-positive button-large button-full">Past Papers</a>
        </div>
    </ion-content>
</ion-view>